/* Tab Content Container */
.tabnav {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #000;
    flex-direction: row;
    width: 80%;
}

.tabs {
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
    background-color: #f9f9f9;
}

/* Individual Tab Panels */
.tab-panel {
    display: none; /* Hide all panels by default */
}

.tab-panel.active {
    display: block; /* Show the active panel */
}
