#uploadNavBtn {
    background-color: #8e74aa;
    color: #490081;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}