<div class="tabnav-container">
    <!-- Tab buttons -->
    <div class="tab-buttons">
        <button class="tab-btn active" data-tab="tab1">Blender</button>
        <button class="tab-btn" data-tab="tab2">Code</button>
        <button class="tab-btn" data-tab="tab3">Fabrication</button>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
        <div id="tab1" class="tab-panel active">
            <p>
                {% block Blender %}
                ...Blender content...
                {% if block == "Blender"%} 
                <script src="/static/js/blender.js"></script>
                {% endif %}
                {% endblock %}
            </p>
        </div>
        <div id="tab2" class="tab-panel">
            <p>
                {% block Code %}
                ...Code content...
                {% endblock %}
            </p>
        </div>
        <div id="tab3" class="tab-panel">
            <p>
                {% block Fabrication %}
                ...Fabrication content...
                {% endblock %}
            </p>
        </div>
    </div>
</div>
