.navBtn {
    border-radius: 18px;
    background-color: #8e74aa;
    color: #490081;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: color 0.4s ease;
}

.navBtn:hover {
    color: #ff6f00;
}

/* Individual Tab Buttons */
.tab-btn {
    border-radius: 18px;
    flex: 1; /* Equal spacing for all buttons */
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tab-btn.active {
    border-radius: 18px;
    background-color: #8e74aa;
    color: #490081;
}

.modal-buttons {
    display: block;
    gap: 10px;
  }
  
.modalBtn {
    border-radius: 18px;
    background-color: #8e74aa;
    color: #490081;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition: color 0.4s ease;
}

.modalBtn:hover {
    color: #ff6f00;
}

/* Container for Tab Buttons */
.tab-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    flex-direction: row;
    width: 80%;
    margin: 0 auto; /* Centers the tab buttons */
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-size: 24px;
    z-index: 9999;
}

.close:hover {
    color: #ff6f00;
}