html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #424242;
    color: #8E74A4;

}
body {
    margin: 0;
    height: 100%;
    padding-top: 60px;
    font-family: Arial, sans-serif;
    background-color: #424242;
    color: #8E74A4;

}

.page-container {
    margin-top: 70px;
    margin-left: 2%;
    margin-right: 2%;
}

@media (min-width: 768px) {
    .page-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.text-container {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 12.5% 20%;
    height: 100vh;
}

.info-container {
    display: flex;
    justify-content:flex-end;
}

.info {
    flex: 1;
    border: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
    margin-left: auto; /*maybe need more complexity*/
}

.header-text {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 45px;
}

.about-me {
    flex: 1;
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    text-align:center;
    align-items: center;
    padding: 45px 45px;
}

.tabnav {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #000;
    flex-direction: row;
    width: 80%;
}

.tabs {
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* For centering text */
    height: 100%; /* Adjust as needed */
}

.display-area {
    flex: 3;
    border: 1px solid black;
    position: relative;
    overflow-x: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #490081;
    transition: color 0.3s
}

.link:hover {
    color: #8e74aa;
}

.user_text {
    color: #ff6f00
}