<div class="about-me">
    <h1>About me:</h1>
    <p>
        My name is Indra Pinas.<br>
        I am a self taught programer aspiring to become a tech artist for animation and game development.<br>
        I also dable in some engineering and woodworking.
    </p>
    <p>
        This site is built mainly to show case all the stuf i am and have been working on.<br>
        Its secondary purpose is as a sand box for improving my skills as a programer regarding design, security and systems knowledge.
    </p>
    <p>
        If you like what you see below dont hesitate to <a href="/contact">get in touch with me.</a>
    </p>
</div>
