<div class="container mt-5">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <label>Username:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label>Password:</label>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button type="submit" class="btn btn-primary" value="login">Login</button>
    </form>
</div>

