<!-- Offcanvas Component -->
<div class="offcanvas hidden" id="mapCanvas">
    <div class="offcanvas-body">
        <div class="graph-container">
            <div class="graph-view">
                <span class="close" id="closeCanvasBtn">&times;</span>
                <canvas id="graphCanvas">Graph View</canvas>  
            </div> 
        </div>

        <h4>Files</h4>
        <div class="list-view">
            <ul id="fileList">
                <!-- <li>File 1</li>
                <li>File 2</li>
                <li>File 3</li> -->
            </ul>
        </div>   
    </div>
    <div class="offcanvas-footer">
        <h4>SiteMap</h4>
        <div class="list-view">
            <ul>
                <li><a href = "about-me.html"> About me </a></li>
                <li><a href = "contact.html"> Contact </a></li>
                <li><a href = "register.html"> Register </a></li>
                <li><a href = "login.html"> Login </a></li>
            </ul>
        </div>
    </div>
</div>