<!-- Upload Modal -->
<div class="modal hidden" id="uploadModal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h1>Upload Files</h1>
        
        <form id="uploadForm" action="/upload/upload" method="post" enctype="multipart/form-data">
            <div id="progressContainer">
              <h3>File Upload Progress: </h3>
                <div class="current-task">
                    <div><span id="state"></span></div>                           
                    <div><span id="status"></span></div>
                    <div id="uploadConsole" class="console-window">
                        <pre id="consoleOutput"></pre>
                    </div>
                </div>
                

                <div class="total-progress">
                    <label> Total Progress: </label>
                    <div class="progress-dail">
                        <div 
                            role="progressdail" 
                            style="width: 0%;" 
                            id="totalProgressDail" 
                            aria-valuenow="0" 
                            aria-valuemin="0" 
                            aria-valuemax="100"
                        >
                        0%
                        </div>
                        <div class="dial"></div>
                    </div>
                </div>

                <div class="file-progress-container" id="fileProgressContainer">
                    <div>
                        <label>File Progress:</label>
                    </div>
                  
                    <progress id="uploadProgress" value="0" max="100"></progress>
                    <span id="progressText">0%</span>
                </div>
            </div>

            <div class="modal-buttons">
                <input id="fileInput" type="file" name="files" multiple hidden/>
                <button id="fileInputBtn" class="modalBtn" type="button">
                    Choose Files
                </button>
                <span id="fileName"></span>
                <ul id="fileList" class=""></ul>
                <button id ="uploadModalBtn" type="submit" class="modalBtn"name="start upload">
                    Start Upload
                </button>
            </div>
        </form>

    </div>
  </div>