
<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        
        <!-- left navbar section  -->
        <div class="navbar-left">
            <button class="navbar-toggler" id="navTogglerBtn"> ☰ </button>
            {% if not session["user_id"] and not page == 'login' %}
                <a href="/auth/login" class="navbar-brand">
                    <img src="/static/img/logo.png" alt="logo" class="navbar-logo">
                </a>
            {% elif page == 'login' %}
                <a href="/" class="navbar-brand">
                    <img src="/static/img/logo.png" alt="logo" class="navbar-logo">
                </a>
            {% else %}
                <a href="/" class="navbar-brand">
                    <img src="/static/img/logo.png" alt="logo" class="navbar-logo">
                </a>
            {% endif %}

            {% if not page == 'login' %}
                <button class="navBtn" id="openCanvasBtn">
                    <i class="fas fa-folder"></i> Map
                </button>
                {% include 'mapCanvas.html' %}
            {% endif %}
        </div>

        <div>
            {% if session["user_id"] %}
                {% include 'BASE.html' %}
            {% endif%}
        </div>
        <!-- right navbar section -->
        <div class="navbar-right">
            <div class="navbar-links" id="navbar-links">
                <a class="navbar-link" href="https://github.com/Umbra42?tab=repositories">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a class="navbar-link" href="https://nl.linkedin.com/in/indra-pinas-924307247">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="navbar-link" href="https://discordapp.com/users/indra4242">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
            
            <!-- upload button -->
            {% if session["user_id"] and not page == 'login' %}
                <button id="uploadNavBtn" class="navBtn">Upload</button>
            {% endif %}
        </div>
    </div>
</nav>

